$font-size: 20px;
$color: magenta;

ul {
    font-size: $font-size;
    color: $color;
}

ol {
    font-size: $font-size;
    color: $color;
}

// sass --watch style.scss style.css -> auto compile sass 