section.content {
    margin-left: 10%;
}

section.content .h1-content {
    color: black;
    margin: 20px 0px 20px;
    font-size: 3em;
}

section.content .content-form {
    width: 200px;
    max-width: 100%;
}

section.content .content-form input:first-child {
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid brown;
    border-radius: 30px;
    margin-bottom: 10px;
}

section.content .content-form input:last-child {
    padding: 10px 30px;
    border: 2px solid brown;
    border-radius: 30px;
    margin-bottom: 10px;
    background: brown;
    color: white;
}