<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/mens_double.css">
    <title>Men's Doubles</title>
</head>
<body>
    <h1>
        Man's Doubles Tournament 
    </h1>
    <h2>Players</h2>
    <ul>
    <li>Herman and Yohanes</li>
    <li>vs</li>
    <li>Dedi and Mulyadi</li>

    </ul>

    <a href="{{ url_for('index') }}">Back home!</a>
</body>
</html>